body{
margin: 0;
padding: 0;
background-color: whitesmoke;
}
.product{
    width: 200px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 30px;    
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product img {
    width: 75%;
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.title{
    text-align: center;
}
.lastPart{
    text-align: center;
}