@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background: var(--Background-bg-secondary, #F3F5F6);
}

*{
    margin: 0;
    padding: 0;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 64px 0 64px 0;
}
.item{
    width: 271px;
}
.item h3{
    color: #161543;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-top: 20px;
}
.item p{
    color: #7687A1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin-top: 10px;
}