body{
    background-color: #499166;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.card{
    width: 160px;
    height: 160px;
    background-color: gainsboro;
    padding: 0 15px 25px 15px;
    border-radius: 5px;
    transition: 0.5s;
}
.card:hover{
    transform: scale(120%);
    transition: 0.5s;
}
.card p {
    font-size: 12.5px;
}